// <-- COMMON
$font-montserrat: 'Montserrat', sans-serif;
$font-caveat: 'Caveat', cursive;
$primary-color: #8E80A9;
$coral-color: #E65C7B;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FCF8FE;
}

h2 {
  color: #8E80A9;
  font-family: $font-montserrat;
}

h3 {
  color: #8E80A9;
  font-weight: 500;
  font-family: $font-montserrat;
}

button {
  cursor: pointer;
}
// COMMON -->

// <-- HEADER

.wrapper-supportive-header-page {
  background-image: url(../images/header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 30%;
  background-position-y: 80%;
}

.header-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  margin: 0 auto;
}

.header-page__navigation {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: $font-montserrat;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.btn-nav-trigger {
  border: none;
  background: transparent;
}

.close {
  display: none;
}

.open {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgba(142, 128, 169, .7);
}

.line {
  width: 65px;
  height: 2px;
  background: #8E80A9;
  margin: 8px;
  cursor: pointer;
}


.list__list-item  {
  margin: 10px;
  list-style-type: none;
}

.phone, .list__list-item > a {
  text-decoration: none;
}

.phone {
  color: #8E80A9;
  letter-spacing: 1px;
}

.list__list-item > a {
  color: #fff;
}

.header-page__main-content {
  transform: translate(0, -50%);
}

.main-headerings__h2 {
  font-family: $font-caveat;
  text-align: center;
}

.main-headerings__h1 {
  font-family: $font-montserrat;
  color: #fff;
  font-size: 18vw;
  text-align: center;
  letter-spacing: 16px;
}

.btn-wrapper {
  font-family: $font-montserrat;
  display: flex;
  justify-content: center;
}

.btn-wrapper__button {
  background: $coral-color;
  color: #fff;
  width: 30px;
  height: 26px;
  margin-right: 10px;
  border: none;
}

.btn-text {
  color: $coral-color;
  background: none;
  width: 200px;
  font-size: 12px;
  font-weight: bold;
}

.btn-text_link-anchor {
  text-decoration: none;
  color: $coral-color;

    &:hover {
      text-decoration: underline;
    }
}

// HEADER -->

// <-- SECTION KINDS OF YOGA

.wrapper-supportive-section-kinds-of-yoga {
  background-image: url(../images/kinds-yoga-pattern.svg);
  background-repeat: no-repeat;
  background-position: 0 35%;
}

.section-kinds-of-yoga {
  margin: 0 auto;
}

.section-kinds-of-yoga__h2 {
  text-align: center;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .section-kinds-of-yoga__kinds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .kinds {
    width: 100%;
  }
}

.kinds {
  margin: 0 auto 30px auto;
  padding: 20px 30px;
  max-width: 500px;
}

.kind-info {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
}

.kind-info:last-child {
  justify-content: center;
}

.kinds > img {
  width: 100%;
  display: block;
}

.kind__desc {
  flex-grow: 2;
  padding-right: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #e5e5e5;
}

.btn-kind-details {
  padding: 10px;
  background: #8E80A9;
  border: none;
  flex-grow: 1;
}

.btn-kind-details__icon {
  width: 15px;
}

.kind__desc > * {
  font-family: $font-montserrat;
  margin-bottom: 15px;
  margin-left: 20px;
}

.kind__desc > h3 {
  margin-top: 20px;
}

// <-- SECTION TICKETS

.wrapper-supportive-section-season-tickets {
  background-image: url(../images/block-tickets-sky-pattern-big.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 25%;
  background-size: cover;
}

.section-season-tickets__tickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tickets__ticket {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #e5e5e5;
  margin: 0 30px 30px 30px;
  padding: 20px 30px;
  flex-basis: 400px;
}

.season-tickets__h2 {
  text-align: center;
  padding: 40px 0;
}

.ticket-desc > * {
  font-family: $font-montserrat;
  margin-bottom: 15px;
}

.ticket-desc {
  font-family: $font-montserrat;
}

.ticket-desc > h3 {
  font-size: 20px;
  font-weight: 700;
}

.ticket__time {
  color: $coral-color;
  font-size: 14px;
}

.ticket-price {
  color: $primary-color;
  font-size: 18px;
  font-weight: 700;
}

.btn-ticket {
  padding: 20px 30px;
  background: $primary-color;
  border: none;
  color: #fff;
  font-family: $font-montserrat;
  font-size: 14px;
}

// SECTION TICKETS -->

// <-- FOOTER

.wrapper-supportive-footer {
  background-color: $primary-color;
}

.footer {
  max-width: 1020px;
  margin: 0 auto;
  padding: 30px 40px;
  font-family: $font-montserrat;
}


.footer__contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts {
  color: #fff;
}

@media (min-width: 896px) {
  .wrapper-supportive-footer {
    position: relative;
  }

  .footer__contacts {
    position: absolute;
    top: 25%;
  }

  .contacts {
    color: $primary-color;
  }

  .footer__about-site {
    justify-content: space-between;
  }

  .about-site__right {
    order: 1;
  }

  .social-links {
    position: absolute;
    top: 50%;
  }

  .icon path {
    fill: $primary-color;
    fill-opacity: 0.65;
  }

}

.headering {
  font-size: 18px;
}

.contacts p:last-child,
.footer__about-site {
  font-size: 12px;
}

.social-links {
  margin-bottom: 20px;
  margin-right: 20px;
}

.contacts > .contacts:first-child,
.contacts > .contacts:last-child {
  margin-bottom: 20px;
}

.contacts,
.about-site__right {
  margin-right: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer__about-site {
  color: #ddd;
  display: flex;
}

@media (max-width: 480px) {
  .footer__about-site {
    flex-direction: column;
  }
}

// FOOTER -->

// <-- SECTION OUR TEAM

.section-our-team {
  font-family: $font-montserrat;
  margin: 20px;
  padding: 20px;
}

.section-our-team__h2 {
  text-align: center;
  margin-bottom: 35px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 3px 0 #e5e5e5;
  margin-bottom: 25px;
  font-family: $font-montserrat;
}

.social-links__icon {
  width: 20px;
}

.info > p {
  font-size: 12px;
  color: $coral-color;
  font-weight: 500;
  line-height: 2;
}

@media (max-width: 364px) {
  .info > p {
    margin-right: 15px;
    line-height: 1.5;
  }
}

.experience {
  font-family: $font-montserrat;
}

.experience__heading {
  color: $coral-color;
  margin-bottom: 15px;
  font-size: 14px;
}

.experience__text {
  font-size: 13px;
  color: $primary-color;
  line-height: 1.5;
}

.photo {
  display: block;
}

@media (max-width: 364px) {
  .photo {
    margin-right: 15px;
  }
}

// <-- service styles for flickity's carousel

.flickity-button-icon {
  fill: white;
}

.flickity-prev-next-button:hover {
  background: hsla(261, 24%, 55%, 0.6)
}

.flickity-prev-next-button {
  width: 20px;
  height: 40px;
  border-radius: 0;
  background-color: #8E80A9;
}

.flickity-prev-next-button {
  top: 40px;
}

.section-our-team .flickity-prev-next-button.previous{
  left: -20px;
}

.section-our-team .flickity-prev-next-button.next  {
  right: -20px;
}

.carousel-cell {
  margin-right: 20px;
  width: 100%;
}

// service styles for flickity's carousel -->

.carousel-team__carousel-status {
  position: relative;
  top: -5px;
  left: 45%;
  display: inline-block;
  margin: 0 20px;
  font-size: 14px;
  letter-spacing: 4px;
}

.section-our-team .flickity-slider input[type="radio"] {
  display: none;
}

@media (max-width: 768px) {
  .carousel-team__carousel-status {
    display: none;
  }

  .social-links__btn {
    display: none;
  }

  .social-links__icon:not(:last-child) {
    margin-bottom: 25px;
  }

  .social-links__icon {
    display: block;
    margin-right: 20px;
  }
}

@media (min-width: 769px) {
  .wrapper-supportive-section-season-tickets {
    background-size: 40%;
    background-position-y: 25%;
  }

  // <-- service styles for flickity's carousel
  .cell {
    position: static !important;
    left: 0 !important;
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 30px;
  }

  .section-our-team .flickity-prev-next-button.previous,
  .section-our-team .flickity-prev-next-button.next {
    position: relative;
    bottom: 0;
    top: 30px;
    left: 45%;
  }

  // service styles for flickity's carousel -->

  .info {
    padding-right: 20px;
    min-width: 300px;
  }

  .info > p {
    font-size: 10px;
    line-height: 1.5;
  }

  .info__social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: space-around;
  }

  .social-links__icon {
    width: 15px;
  }

  .social-links__btn {
    color: $primary-color;
    border: none;
    border-bottom: 2px solid;
    padding-bottom: 2px;
    background: transparent;
  }

  .photo {
    position: relative;
    left: -10px;
    bottom: 10px;
  }

  .experience {
    position: absolute;
    display: none;
    top: 20px;
    left: 400px;
  }

  .cell :checked ~ .experience{
    display: block;
  }
}

// SECTION OUR TEAM -->

// <-- REVIEWS

.section-reviews {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 35px;
  font-family: $font-montserrat;
}

.section-reviews__h2 {
  text-align: center;
  margin-bottom: 35px;
}

.section-reviews .flickity-slider {
  margin-top: 3px;
  margin-left: 3px;
}

.section-reviews .flickity-prev-next-button.previous,
.section-reviews .flickity-prev-next-button.next {
  top: 100%;
}

.carousel-reviews__carousel-status {
  position: relative;
  z-index: -1;
  top: 10px;
  margin: 0 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  letter-spacing: 4px;
}

@media (min-width: 320px) {
  .section-reviews .flickity-prev-next-button.previous {
    left: 30%;
  }

  .section-reviews .flickity-prev-next-button.next {
    right: 30%;
  }
}

@media (min-width: 640px) {
  .section-reviews .flickity-prev-next-button.previous {
    left: 40%;
  }

  .section-reviews .flickity-prev-next-button.next {
    right: 40%;
  }
}


.review {
  width: 99%;
  margin-right: 10px;
  background-color: #fff;
  box-shadow: 0 0 4px #e5e5e5;
  font-size: 12px;
  padding: 15px;
}

@media (min-width: 640px) {
  .review {
    width: calc((100% - 15px)/2);
  }
}


@media (min-width: 960px) {
  .review {
    width: calc((100% - 25px)/3);
  }
}

@media (min-width: 1280px) {
  .review {
    width: calc((100% - 35px)/4);
  }
}

@media (min-width: 1440px) {
  .review {
    width: calc((100% - 45px)/5);
  }
}

.review__text {
  color: $primary-color;
  line-height: 1.5;
  margin-bottom: 25px;
}

.review__user {
  display: flex;
}

.review__photo {
  margin-right: 15px;
}

.review__user-name {
  color: $coral-color;
  margin-bottom: 5px;
  font-weight: 500;
}

.review__date {
  color: $primary-color;
}

// REVIEWS -->


// <-- APPLICATION FORM

.section-application-form {
  background-image: url(../images/block-form-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

@media (min-width: 480px) {
  .section-application-form {
    background-image: url(../images/block-form-bg-big.png);
  }
}

.application-form__form{
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.section-application-form {
  justify-content: flex-end;
}

@media (max-width: 896px) {
  .section-application-form {
    justify-content: center;
  }
}

.application-form__form > *:not(:last-child) {
  margin-bottom: 30px;
}

.application-form__form input::placeholder {
  color: #C8C0DB;
}

.form__input-user-name,
.form__input-user-phone-number {
  border-style: none;
  border-bottom: 1px solid $primary-color;
  font-size: 14px;
  padding-bottom: 10px;
  background-color: transparent;
}

.form__submit-button {
  padding: 20px;
  background-color: $coral-color;
  color: #fff;
  font-size: 14px;
  border: none;
}

.only-screenreader {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

// APPLICATION FORM -->
